/* reset and common code here */
:root{
    --primary-color:#C97C5D;
    --secondary-color:#B36A5E;
    --third-color:#EED7C5;
    --fourth-color:#EEE2DF;
    --text-color:#000000;
    --padding:0.5rem;
    --transition:all 0.3s ease;
    --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205,202,202,0.5)
}

*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: helvetica neue;
}
.flex_display_around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.bold{
    font-weight: bold;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* reset and common code here */
nav{
    position: sticky;
    top: 0 px;
    left: 0px;
    font-size: 1.8rem;
    z-index: 1000;
}
.upper_nav{
    background-color: var(--primary-color);
    height: 10vh;
    padding: .5rem 1rem;

}
.Profile_picture{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: .1rem solid white;
    transition: var(--transition);
}
.nav_link{
    color: var(--text-color);
}
.upper_nav .nav_link:hover{
    text-decoration: overline;
    color: white;
}
.nav_lower{
    height: 8vh;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    padding: 0rem 9rem;
    align-items: center;
    opacity: ;

}
