/* reset and common code here */
:root{
    --primary-color:#C97C5D;
    --secondary-color:#B36A5E;
    --third-color:#EED7C5;
    --fourth-color:#EEE2DF;
    --text-color:#000000;
    --padding:0.5rem;
    --transition:all 0.3s ease;
    --box-shadow: 0.1rem 0.2rem 0.8rem rgba(205,202,202,0.5)
}

*{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/* reset and common code here */

